body {
    background-color: lightblue;
}

h1  {
    color: #57a0d3;
    font-family: 'Merriweather', serif;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    font-weight: bolder;
}

p {
    font-family: 'Open Sans', sans-serif;
    font-size: 17px;
}

.btn-primary {
    background-color: gray;
}

.navbar-brand {
    font-family: 'Merriweather', serif;
}

.container {
    padding: 30px;
    
}

.row {
    margin: 0px;
}

.navbar {
    margin-bottom: 50px;
}

#bioImage{
    float: left;
    padding-right: 20px;
}

#bioName {
    color: black;
    font-family: 'Open Sans', sans-serif;
}

.imageSize {
    margin-bottom: 50px;
}

@media (min-width: 576px ) {
    .navbar {
        justify-content: center;
    }
   
}

#contactinfo {
    text-align: center;
}

.project-title {
    font-style: italic;
    font-size: 20px;
    color: #6794F6;
    font-weight: bold;
}